@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SolarflowClient.Models.Enums
@model SolarflowClient.Models.ViewModels.Battery.GetBatteryViewModel

@{
    ViewData["Title"] = "Battery Page";
    var userEmail = Context.Request.Cookies["UserEmail"];
}

<link href="~/css/site.css" rel="stylesheet" type="text/css" asp-append-version="true"/>
<link href="~/css/global/pages.css" rel="stylesheet" type="text/css" asp-append-version="true"/>
<link href="~/css/global/alert.css" rel="stylesheet" type="text/css" asp-append-version="true"/>
<link href="~/css/settings/settings.css" rel="stylesheet" asp-append-version="true"/>
<link href="~/css/battery/battery.css" rel="stylesheet" type="text/css" asp-append-version="true"/>

<div class="inbox-container">
    <h2 class="page-title">🔋 Battery Management</h2>

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="battery-error-container">
            <p class="battery-error-message">@TempData["ErrorMessage"]</p>
        </div>
    }

    <div class="notification-card">
        <div class="notification-content">
            <div class="notification-text">
                <p class="battery-form-title">Battery Capacity: @Model.ChargeLevel%</p>
                <p >Last Update: @Model.LastUpdate</p>
                <form method="post" action="/Battery/UpdateBattery">
                    <div>
                        <div class="battery-form-group">


                            <div class="battery-input-group">
                                <label class="battery-input-label">Capacity</label>
                                <input class="battery-input" type="number" step="0.01" name="CapacityMax" value="@Model.CapacityMax"/>
                                <span asp-validation-for="CapacityMax" class="text-danger"></span>
                            </div>
                            <div class="battery-input-group">
                                <label class="battery-input-label">Charge Rate</label>
                                <input class="battery-input" type="number" step="0.01" name="ChargeRate" value="@Model.ChargeRate"/>
                                <span asp-validation-for="ChargeRate" class="text-danger"></span>
                            </div>
                            <div class="battery-input-group">
                                <label class="battery-input-label">Discharge Rate</label>
                                <input class="battery-input" type="number" step="0.01" name="DischargeRate" value="@Model.DischargeRate"/>
                                <span asp-validation-for="DischargeRate" class="text-danger"></span>
                            </div>


                            <div class="battery-input-group">
                                <label class="battery-input-label">Battery Mode</label>
                                <select class="battery-input" name="ChargeMode">
                                    @foreach (BatteryMode mode in Enum.GetValues(typeof(BatteryMode)))
                                    {
                                        if (mode == Model.ChargeMode)
                                        {
                                            <option value="@mode" selected>@mode</option>
                                        }
                                        else
                                        {
                                            <option value="@mode">@mode</option>
                                        }
                                    }
                                </select>
                                <span asp-validation-for="ChargeMode" class="text-danger"></span>
                            </div>


                            @if (Model.ChargeMode == BatteryMode.Personalized)
                            {
                                <!-- Render visible inputs when ChargeMode is Personalized -->
                                <div class="battery-input-group">
                                    <label class="battery-input-label">Charging Source</label>
                                    <select class="battery-input" name="ChargeSource">
                                        @foreach (BatterySource source in Enum.GetValues(typeof(BatterySource)))
                                        {
                                            if (source == Model.ChargeSource)
                                            {
                                                <option value="@source" selected>@source</option>
                                            }
                                            else
                                            {
                                                <option value="@source">@source</option>
                                            }
                                        }
                                    </select>
                                    <span asp-validation-for="ChargeSource" class="text-danger"></span>
                                </div>

                                <div class="battery-input-group">
                                    <label>Minimal Threshold</label>
                                    <input class="battery-input" type="number" name="ThresholdMin" min="0" max="100" value="@Model.ThresholdMin"/>
                                    <span asp-validation-for="ThresholdMin" class="text-danger"></span>
                                </div>

                                <div class="battery-input-group">
                                    <label>Maximal Threshold</label>
                                    <input class="battery-input" type="number" name="ThresholdMax" min="0" max="100" value="@Model.ThresholdMax"/>
                                    <span asp-validation-for="ThresholdMax" class="text-danger"></span>
                                </div>

                                @if (Model.ChargeSource != BatterySource.Solar)
                                {
                                    <div class="battery-input-group">
                                        <label class="battery-input-label">Charging Schedules</label>
                                        <div class="battery-time-group">
                                            <label class="battery-input-label-time">Start Time</label>
                                            <input class="battery-input" type="time" name="ChargeGridStartTime" value="@Model.ChargeGridStartTime"/>
                                            <span asp-validation-for="ChargeGridStartTime" class="text-danger"></span>

                                            <label class="battery-input-label-time">End Time</label>
                                            <input class="battery-input" type="time" name="ChargeGridEndTime" value="@Model.ChargeGridEndTime"/>
                                            <span asp-validation-for="ChargeGridEndTime" class="text-danger"></span>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <input type="hidden" name="ChargeGridStartTime" value="@Model.ChargeGridStartTime"/>
                                    <input type="hidden" name="ChargeGridEndTime" value="@Model.ChargeGridEndTime"/>
                                }
                            }
                            else
                            {
                                <!-- When ChargeMode is not Personalized, include hidden fields so that the values still post back -->
                                <input type="hidden" name="ChargeSource" value="@Model.ChargeSource"/>
                                <input type="hidden" name="ThresholdMin" value="@Model.ThresholdMin"/>
                                <input type="hidden" name="ThresholdMax" value="@Model.ThresholdMax"/>
                                <input type="hidden" name="ChargeGridStartTime" value="@Model.ChargeGridStartTime"/>
                                <input type="hidden" name="ChargeGridEndTime" value="@Model.ChargeGridEndTime"/>
                            }
                        </div>
                    </div>

                    <br/>

                    <div class="battery-button-group">
                        <button class="battery-button cancel-button" type="reset">Cancel</button>
                        <button class="battery-button save-button" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>